{% extends "base.tmpl" %}

{% set title = "Hammersmith Ukulele Group" %}

{% block body %}

  <div class="container" role="main">

    <div class="jumbotron">
      <h1>Hammersmith Ukulele Group!</h1>
      <p>Just a bunch of people meeting forthnightishly for a strum.</p>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Who</h3>
          </div>
          <div class="panel-body">
We are amateurs and welcome beginners. Bring an ukulele if you can, if not we may have one spare for you.
          </div>
        </div>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Where</h3>
          </div>
          <div class="panel-body">
You can find us in West London: we usually meet at <a href="http://www.stonemasons-arms.co.uk/find-us">The Stonemason's Arms</a>.
          </div>
        </div>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">When</h3>
          </div>
          <div class="panel-body">
We are currently meeting on the second and fourth Monday of each month at 7:30pm.
          </div>
        </div>
      </div><!-- /.col-sm-4 -->
    </div>

    <p>
      <a class="btn btn-primary" href="/songs.html">Download</a> our songsheets to know what we do
    </p>
    <p>
      <a class="btn btn-primary" href="https://www.facebook.com/groups/332494077495/">Join</a> our Facebook group for the latest update
    </p>

  </div>

{% endblock %}
