
{% extends "base.tmpl" %}

{% set title = "Hammersmith Ukulele Group" %}

{% block scripts %}
<script>
  $(document).ready(function(){
    var pngs = {{ pngs|jsonify }};
    // Shuffle the images
    pngs.sort(function () { return 0.5 - Math.random(); });

    // Populate the carousel
    $.each(pngs, function(idx, png) {
      var elem = $('<div class="item"><img src="' + png + '" /></div>');
      if (idx == 0) elem.addClass("active");
      elem.appendTo("div.carousel-inner");
    });
    $('.carousel').carousel({interval: 2000});
    $('.carousel').carousel('cycle');
  });
</script>
{% endblock %}

{% block body %}
<div class="black"><div class="container" role="main">
    <div class="row" id="who">
      <h1 class="text-center">Who is HUG?</h1>
      <div class="col-md-6 col-xs-8">
          <p class="lead">We're just people who show up and make music!</p>
          <p>Anyone is welcome to drop by and join in.  If you don't have an ukulele, we're happy to have other accompaniment.  We can always use more voices to join in and sing!</p>
          <p>We have an <a href="http://spacehobo.com/mailman/listinfo/hug">e-mail mailing list</a> to help you stay up-to-date with the next events and more.</p>
          <p class="text-center"><a class="btn btn-lg btn-primary" href="http://spacehobo.com/mailman/listinfo/hug"><i class="fa fa-envelope"></i> Join the Mailing List</a></p>
      </div>
      <div class="col-xs-4 text-center">
        <img src="img/jam.jpg" class="img-responsive img-circle img-thumbnail"/>
      </div>
    </div>
  </div> 
</div>

<div class="grey"><div class="container" role="main">
    <div class="row" id="what">
      <h1 class="text-center">What songs do HUG play?</h1>
        <div class="col-md-8"><div class="carousel slide" id="songbookCarousel" data-ride="carousel">
            <a href="pdfs/hug-songbook.pdf">
              <div class="carousel-inner">
              </div>
            </a>
        </div></div>
        <div class="col-md-4">
          <p class="lead">Our songbook is a <a href="https://github.com/hammeruke/hug-chords" target="_blank">work in progress</a>, and we're always open to suggestions.</p>
          <p class="text-center"><a href="https://github.com/hammeruke/hug-chords/tree/master/chords/hug" target="_blank"><button class="btn btn-default"><i class="fa fa-github-square"></i> Help Us Edit The Songs</button></a></p>
          <p>You can look over our <a href="songs.html">Song sheets page</a> to read or print out individual songs, or download the whole book via the button below.</p>
          <p class="text-center">
          <a href="pdfs/hug-songbook.pdf"><button class="btn btn-lg btn-success"><i class="fa fa-book"></i> Download Songbook (PDF) <i class="fa fa-arrow-circle-down"></i></button></a>
          </p>
        </div>
      </div>
    </div>
</div></div>

</div> <div class="jumbotron" id="where"> </div>
<div class="black"><div class="container" role="main">
    <div class="row">
      <h1 class="text-center">Where do HUG meet?</h1>
      <div class="col-md-6">
            <p class="lead">We play at <a class="label label-default stonemasons" href="http://www.stonemasons-arms.co.uk/find-us" target="_blank"><i class="fa fa-beer"></i> The Stonemasons Arms</a> in Hammersmith, London. </p>
            <p>You can usually find us in the "function room" on the top floor: just grab a drink and head up the stairs in back.</p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <a href="https://maps.google.co.uk/maps?q=The+Stonemasons+Arms,+Cambridge+Grove,+London&hl=en&ll=51.494437,-0.229704&spn=0.008804,0.020278&sll=51.528642,-0.101599&sspn=0.56302,1.29776&oq=the+stonemasons+&t=m&z=16">
            <img src="img/map.png" alt="The Stonemason's Arms - 54 Cambridge Grove, Hammersmith, London W60LA">
          </a>
        </div>
      </div>
    </div>
  </div>

</div> <div class="jumbotron" id="when"> </div> 

<div class="grey">
    <div class="container" role="main">
        <div class="row">
            <h1 class="text-center">When do HUG meet?</h1>
            <div class="col-md-6"><div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/calendar/embed?src=1ccuiva5no6f9p2r0c21ok3gos%40group.calendar.google.com&amp;ctz=Europe%2FLondon" class="embed-responsive-item"></iframe>
            </div></div>
            <div class="col-md-6">
                <p class="lead">We are currently meeting on the <strong>second and fourth Monday</strong> of each month.  </p>
                <p>Check our calendar for the next HUG Jam date.</p>
                <p>The function room opens at 7:30pm, and we tend to play until closing.  Drop in any time, but we tend to play the easier songs toward the start of the evening.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
