{% extends "base.tmpl" %}

{% set title = "Hammersmith Ukulele Group" %}

{% block body %}

<!-- Header Wrapper -->
<div id="header-wrapper" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Header -->
        <div id="header">

          <!-- Logo -->
          <div id="logo">
            <h1><a href="#">Hammersmith Ukulele Group</a></h1>
            <span class="byline">A bunch of people meeting fortnightlishly for a strum</span>
          </div>
          <!-- /Logo -->

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="#who">Who</a></li>
              <li><a href="#where">Where</a></li>
              <li><a href="#when">When</a></li>
              <li><a href="#what">What</a></li>
            </ul>
          </nav>
          <!-- /Nav -->

        </div>
        <!-- /Header -->

      </div>
    </div>
  </div>
</div>
<!-- /Header Wrapper -->

<!-- Who Wrapper -->
<div class="wrapper wrapper-style1">
  <div class="title">Who</div>
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Who -->
        <section id="who">
          <p class="style1">We are a bunch of amateur ukulele players, blah blah </p>
          <p class="style1">If you want to stay up to date you can join our <a href="https://www.facebook.com/groups/332494077495/">Facebook group</a>.</p>
        </section>
        <!-- /Who -->

      </div>
    </div>
  </div>
</div>
<!-- /Who Wrapper -->

<!-- Where Wrapper -->
<div class="wrapper wrapper-style3">
  <div class="title">Where</div>
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Where -->
        <div id="Where">
          <p>We usually meet at <a href="http://www.stonemasons-arms.co.uk/find-us">The Stonemason's Arms</a>, in Hammersmith, London.</p>
          <p>You can usually find us on the top floor: just grab your favourite glass and reach us.</p>

          <!-- Image -->
          <a href="http://fav.me/d5pjw3g" class="image image-featured">
            <img src="images/pic01.jpg" alt="" />
          </a>
          <!-- /Image -->

        </div>
        <!-- /Where -->

      </div>
    </div>
  </div>
</div>
<!-- /Where Wrapper -->

<!-- When Wrapper -->
<div class="wrapper wrapper-style2">
  <div class="title">When</div>
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- When -->
        <div id="when">
          <p>We are currently meeting on the second and fourth Monday each month, although this rule is being discussed... Better check our calendar I guess.</p>
          <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=1ccuiva5no6f9p2r0c21ok3gos%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="600" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
        <!-- /When -->

      </div>
    </div>
  </div>
</div>
<!-- /When Wrapper -->

<!-- What Wrapper -->
<div class="wrapper wrapper-style3">
  <div class="title">What</div>
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- What -->
        <div id="what">
          <p>A bit of this and that.</p>
          <p>Check our <a href="songs.html">Song sheets page</a> to see what we are doing</p>

          <!-- Image -->
          <a href="http://fav.me/d5pjw3g" class="image image-featured">
            <img src="images/pic01.jpg" alt="" />
          </a>
          <!-- /Image -->

        </div>
        <!-- /What -->

      </div>
    </div>
  </div>
</div>
<!-- /What Wrapper -->


{% endblock %}
