{% extends "base.tmpl" %}

{% set title = "Hammersmith Ukulele Group Songsheets" %}

{% block navbar %}
          <ul class="nav navbar-nav">
              {% for folder in folders %}
                <li><a href="#sect{{ loop.index }}">{{ folder.title }}</a></li>
              {% endfor %}
          </ul>
{% endblock %}

{% block body %}

  <div class="container" role="main">
    <div class="row">

{% for folder in folders %}
  <div class="col-lg-6" id="sect{{ loop.index}}" class="wrapper wrapper-style{{ loop.cycle('3', '2') }}">
    <h1>{{ folder.title|default('Compilation Songbooks', true) }}</h1>

          <ul class="list-group">
            {% for pdf in folder.content %}
              <li class="list-group-item">
                <a href="{{ pdf.path }}">{{ pdf.title }}</a>
                {% if pdf.author %} &mdash; {{pdf.author}}{% endif %}
              </li>
            {% endfor %}
          </ul>

        </div>
{% endfor %}
</div>
</div>

{% endblock %}

