{% extends "base.tmpl" %}

{% set title = "Hammersmith Ukulele Group Songsheets" %}

{% block body %}

  <div class="container" role="main">
    <div class="row">

      {% for folder in folders %}
        {% if folder.title %}
          <div class="page-header">
            <h1>{{ folder.title }}</h1>
          </div>
        {% endif %}

        <ul class="list-group">
          {% for pdf in folder.content %}
            <li class="list-group-item">
              <a href="{{ pdf.path }}">{{ pdf.title }}</a>
              {% if pdf.author %} &mdash; {{pdf.author}}{% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

    <p>
      <a class="btn btn-primary" href="/">Back</a> to the homepage
    </p>

  </div>

{% endblock %}

